<div class="center jumbotron">
	<h1>Welcome to Odin Facebook</h1>

	<h2>
		This is the homepage for the Odin Facebook app.
	</h2>

	<%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>