<li id="post-<%= post.id %>">
	<span class="content"><%= post.content %></span>
	<%= link_to post.user.name, post.user %>
	<span class="timestamp">
		- <%= time_ago_in_words(post.created_at) %> ago
	</span>
</li>